
body {
    background-color: #f4f1ec;
    background-image: url(Plano\ de\ fundo.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #4f6c26;
    height: 18vh;
    width: 85vw;
    font-size: 20em;
    margin-top: 3%;
    color: #f4f1ec;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    display: flex;
    font-size: 4em;
    padding: 0.5%;
    width: 100vw;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
}


.conceito, .conceito-2 {
    background-color: #fff; 
    padding: 2em;
    margin: 2% auto;
    width: 80vw;
    text-align: center;
    font-size: 1.2em;
    color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
    background-color:#4f6c26;
}

.parallax {
    background-image: url('comunhão.jpg'); 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh; /* Altura da seção */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f1ec; /* Texto branco */
    text-align: center;
    padding: 2em;
}


.parallax p {
    font-size: 1.5em;
    max-width: 600px;
}
.nav {
    background-color: #80451f; /* Marrom */
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 1em;
    border-radius: 10px;
    margin: 2% auto;
    width: 85vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav a:hover {
    background-color: #4f6c26; /* Verde escuro */
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #80451f;
    color: #f4f1ec; 
    padding: 1em ;
    width: 98vw;
    margin: 3% auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   flex-direction: row;
   display: flex;
   justify-content:center;
   gap: 15%;
}

.imgM {
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    padding: 3px;

    
}