body {
  background-color: #f4f1ec;
}

header {
  display: flex;
  background-color: #80451f;
  height: 18vh;
  width: 100%;
  font-size: 6em;
  color: #f4f1ec;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 2% auto;
  padding: 1em;
  overflow: hidden;
  background-color: #4f6c26;
  gap: 1.5em;
  box-shadow: 0px 4px 8px #80451f(0, 0, 0, 0.2);
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f4f1ec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #80451f;
}

.AG {
  padding: 2em;
  width: 45vw;
  text-align: justify;
  font-size: 1.2em;
  color: #f4f1ec;
  font-family: 'Times New Roman', Times, serif;
  background-color: #80451f;
}

img {
  width: 25vw;
  height: 50vh;
}

.Junt-Img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Junt_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: stretch;

}

.Relac {
  padding: 2em;
  width: 78vw;
  margin: 2% auto;
  text-align: justify;
  font-size: 1.2em;
  color: #f4f1ec;
  font-family: 'Times New Roman', Times, serif;
  background-color: #4f6c26;
}

.imagem {
  width: 45vw;
  height: 55vh;
  padding-bottom: 30px ;
}

.Junt_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

footer {
  text-align: center;
  background-color: #80451f;
  color: #f4f1ec;
  padding: 1em;
  width: 100%;
  box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 15%;
}