body {
    background-color: #f4f1ec;
    background-image: url(Plano\ de\ fundo.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #4f6c26;
    height: 18vh;
    width: 100%;
    font-size: 6em;
    color: #f4f1ec;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

/* .titulo {
    display: flex;
    font-size: 4em;
    padding: 0.5%;
    width: 100vw;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
} */
/* Kamilly pq fez dois css para o header? */


.conceito,
.conceito-2 {
    background-color: #f4f1ec;
    padding: 2em;
    margin: 2% auto;
    width: 82vw;
    text-align: justify;
    font-size: 1.2em;
    color: #f4f1ec;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4f6c26;
}

.parallax {
    background-image: url('Imagem_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    /* Altura da seção */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f1ec;
    /* Texto branco */
    text-align: center;
    padding: 2em;
}


.parallax p {
    font-size: 1.5em;
    max-width: 600px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 2% auto;
    padding: 1em;
    overflow: hidden;
    background-color: #80451f;
    gap: 1.5em;
    box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
    justify-content: space-around;
    width: 96vw;

}

li {
    float: left;
}

li a {
    display: block;
    color: #f4f1ec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4f6c26;
}

footer {
    text-align: center;
    background-color: #4f6c26;
    color: #f4f1ec;
    padding: 1em;
    width: 100%;
    box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.imgM {
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    padding: 3px;


}

.Imag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2%;
}


.img1 {
    width: 35vw;
    height: 65vh;
    margin-right: 15px;
}

.img2 {
    width: 40vw;
    height: 65vh;
}