body {
    background-color: #f4f1ec;
    background-image: url(Plano\ de\ fundo.png);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #4f6c26;
    height: 18vh;
    width: 100%;
    font-size: 6em;
    color: #f4f1ec;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.conceito,
.conceito-2 {
    background-color: #f4f1ec;
    padding: 2em;
    margin: 2% auto;
    width: 82vw;
    text-align: justify;
    font-size: 1.2em;
    color: #f4f1ec;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4f6c26;
}

.parallax {
    background-image: url('Imagem_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    /* Altura da seção */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f1ec;
    /* Texto branco */
    text-align: center;
    padding: 2em;
}


.parallax p {
    font-size: 1.5em;
    max-width: 600px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 2% auto;
    padding: 1em;
    overflow: hidden;
    background-color: #80451f;
    gap: 1.5em;
    box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
    justify-content: space-around;
    width: 96vw;

}

li {
    float: left;
}

li a {
    display: block;
    color: #f4f1ec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4f6c26;
}

footer {
    text-align: center;
    background-color: #4f6c26;
    color: #f4f1ec;
    padding: 1em;
    width: 100%;
    box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 15%;
}

.imgM {
    width: 15vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    padding: 3px;


}

.Imag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2%;
}


.img1 {
    width: 35vw;
    height: 65vh;
    margin-right: 15px;
}

.img2 {
    width: 40vw;
    height: 65vh;
}

/* Media Query para dispositivos com largura de tela até 720px */
@media screen and (max-width: 720px) {

    /* Ajustes no header */
    header {
      font-size: 5.3em; /* Reduz o tamanho da fonte */
      height: 15vh; /* Ajusta a altura do cabeçalho */
      width: 100vw; /* Ajusta a largura para 100% da tela */
    }
  
    /* Ajustes no .Junt_1 */
    .Junt_1 {
      flex-direction: column; /* Organiza os itens em coluna */
      align-items: center; /* Centraliza os itens */
    }
  
    /* Ajuste na imagem */
    img {
      width: 40vw; /* Aumenta a largura da imagem para ocupar mais espaço */
      height: auto; /* Ajusta a altura proporcionalmente */
    }
  
    ul {
        display: flex;
        list-style-type: none;
        margin: 3% auto;
        padding: 0.5em;
        overflow: hidden;
        background-color: #80451f;
        gap: 1.2em; /* Ajustando o espaçamento entre os itens */
        box-shadow: 0px 4px 8px #80451f(0, 0, 0, 0.2);
        justify-content: center; /* Centralizando os itens */
        font-size: 0.9em;
      }
    
      li {
        float: none; /* Removendo o float */
      }
    
      li a {
        display: block;
        color: #f4f1ec;
        text-align: center;
        padding: 10px 12px; /* Ajustando o padding */
        text-decoration: none;
      }
    
      li a:hover {
        background-color: #4f6c26;
      }

    .conceito,
    .conceito-2 {
    background-color: #f4f1ec;
    padding: 2em;
    margin: 2% auto;
    width: 83.5vw;
    text-align: justify;
    font-size: 1.2em;
    color: #f4f1ec;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4f6c26;
    }

    /* Ajuste do conteúdo .Junt_2 */
    .Junt_2 {
      flex-direction: column; /* Organiza os itens em coluna */
      width: 100%; /* Ajusta a largura */
      gap: 1.5em; /* Adiciona espaçamento entre os itens */
    }
  
    /* Ajustes no estilo de texto */
    .Estilo_text {
      width: 100%; /* Ajusta a largura para ocupar a tela inteira */
      padding: 1em; /* Adiciona um padding */
      font-size: 0.9em; /* Diminui o tamanho da fonte */
    }
  
    /* Ajustes no layout do .Junt_3 */
    .Junt_3 {
      flex-direction: column; /* Organiza os itens em coluna */
      gap: 1.5em; /* Ajusta o espaçamento entre os itens */
    }
  
    /* Ajustes no slider */
    .carousel {
      width: 100%; /* Ajusta a largura do carrossel */
      max-width: 100%; /* Limita a largura máxima */
      margin: 0; /* Remove a margem */
    }
  
    .slides {
      width: 300%; /* Ajusta a largura das imagens no slider */
    }
  
    .slides img {
      width: 33.33%; /* Ajusta o tamanho das imagens */
      height: auto; /* Ajusta a altura proporcionalmente */
    }
  
    /* Ajustes nos botões do slider */
    .slider-btn {
      padding: 8px; /* Ajusta o padding dos botões */
      font-size: 1em; /* Ajusta o tamanho da fonte dos botões */
    }
  
    button {
      padding: 8px; /* Ajusta o padding dos botões */
    }

    .img1 {
        width: 47vw;
        height: 60vh;
        margin-right: 15px;
    }
    
    .img2 {
        width: 47vw;
        height: 60vh;
    }
  
    /* Ajustes no footer */
    footer {
      width: 100%; /* Ajusta a largura para 100% da tela */
      flex-direction: column; /* Organiza os itens em coluna */
      gap: 1em; /* Adiciona espaçamento entre os itens */
    }
  }