body {
  background-color: #f4f1ec;
  background-image: url(Plano\ de\ fundo.png);
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #4f6c26;
  height: 18vh;
  width: 100%;
  font-size: 6em;
  color: #f4f1ec;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 2% auto;
  padding: 1em;
  overflow: hidden;
  background-color: #80451f;
  gap: 1.5em;
  box-shadow: 0px 4px 8px #4f6c26(0, 0, 0, 0.2);
  justify-content: space-around;
  width: 96vw;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f4f1ec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4f6c26;
}

.Mensagem-Info,
#errorMessage {
  margin-top: 20px;
  padding: 15px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#errorMessage {
  color: #4f6c26;
}

.Junt_1 {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 85vw;
  margin-bottom: 2%;
}

img {
  width: 30vw;
  height: 100vh;
}

h1 {
  background-color: #80451f;
  color: #f4f1ec;
  padding: 5%;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;

}
.Est {
  background-color: #4f6c26;
  color: #f4f1ec;
  padding: 2%;
  width: 26.7vw;
}

.button {
  background-color: #80451f; /* Cor de fundo */
  border: none;
  color: #f4f1ec; /* Cor da letra */
  font-family: 'Times New Roman', Times, serif; /* Fonte */
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:active {
  transform: scale(0.95); /* Reduz o botão levemente */
  background-color: #53270a; /* (Opcional) Cor diferente ao clicar */
}

.barra-escrita {
  width: 70%; /* Ajuste para a largura desejada */
  background-color: #f4f1ec; /* Cor de fundo */
  color: #4f6c26; /* Cor do texto */
  padding: 8px; /* Adiciona espaço interno para melhorar a aparência */
  border: 5px solid #80451f; /* Borda com cor personalizada */
  font-family: 'Times New Roman', Times, serif; /* Fonte */
  font-size: 16px; /* Tamanho da fonte */
  
}

.barra-escrita:focus {
  outline: none; /* Remove o destaque padrão do navegador */
  border-color: #80451f; /* Muda a cor da borda ao focar */
}

/* ---------------------------------------------------------- */

.Junt_2 {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 85vw;
  margin-bottom: 2%;
}

.tit {
  background-color: #4f6c26;
  color: #f4f1ec;
  padding: 5%;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;

}
.Esta {
  background-color: #80451f;
  color: #f4f1ec;
  padding: 2%;
}

.buttoon {
  background-color: #4f6c26; /* Cor de fundo */
  border: none;
  color: #f4f1ec; /* Cor da letra */
  font-family: 'Times New Roman', Times, serif; /* Fonte */
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttoon:active {
  transform: scale(0.95); /* Reduz o botão levemente */
  background-color: #2e4909; /* (Opcional) Cor diferente ao clicar */
}

.barraa-escrita {
  width: 65%; /* Ajuste para a largura desejada */
  background-color: #f4f1ec; /* Cor de fundo */
  color: #80451f; /* Cor do texto */
  padding: 8px; /* Adiciona espaço interno para melhorar a aparência */
  border: 5px solid #4f6c26; /* Borda com cor personalizada */
  font-family: 'Times New Roman', Times, serif; /* Fonte */
  font-size: 16px; /* Tamanho da fonte */
  
}

.barra-escrita:focus {
  outline: none; /* Remove o destaque padrão do navegador */
  border-color: #4f6c26; /* Muda a cor da borda ao focar */
}


footer {
  text-align: center;
  background-color: #4f6c26;
  color: #f4f1ec;
  padding: 1em;
  width: 100%;
  box-shadow: 0px 4px 8px #4a4c47(0, 0, 0, 0.2);
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 15%;
}

